<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formularz</title>
</head>
<body>
    <div id="header"></div>
    <main>
        <form action="/send" method="POST">
            <div class="form-element">
                <label for="username">*Imię: </label>
                <input type="text" placeholder="podaj imię" id="username" name="username" required>
                <p class="error"></p>
            </div>

            <div class="form-element">
                <label for="email">*Email: </label>
                <input type="email" placeholder="podaj email" id="email" name="email" required>
                <p class="error"></p>
            </div>

            <div class="form-element">
                <label for="password">*Hasło: </label>
                <input type="password" name="password" id="password" placeholder="podaj hasło" required>
                <p class="error"></p>
            </div>

            <div class="form-element">
                <label for="password2">*Powtórz hasło: </label>
                <input type="password" name="password2" id="password2" placeholder="powtórz hasło" required>
                <p class="error"></p>
            </div>

            <div class="buttons">
                <input type="reset" name="reset" id="reset" value="wyczysc formularz">
                <input type="submit" id="send" value="wyślij formularz">
            </div>
        </form>
    </main>
    <script>
        var xhr = new XMLHttpRequest();
        xhr.open('GET', 'header.html');
        xhr.onload = function () {
            document.getElementById('header').innerHTML = xhr.response;
        };
        xhr.send();
    </script>
    <script src="form.js"></script>
</body>
</html>