<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="./styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projekt</title>
</head>

<body>
    <div id="header"></div>
    <main>
        <h2>This is the content of the index page</h2>
    </main>
    <footer></footer>

    <script>
        var xhr = new XMLHttpRequest();
        xhr.open('GET', 'header.html');
        xhr.onload = function () {
            document.getElementById('header').innerHTML = xhr.response;
        };
        xhr.send();
    </script>
</body>

</html>