<!DOCTYPE html>
<html lang="pl">

<head>
    <link rel="stylesheet" type="text/css" href="./styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projekt</title>
</head>

<body>
    <header id="header"></header>
    <main>
        <h2>To jest bardzo piękna strona główna</h2>
        <p>Życzymy miłego pobytu i niezapomnianych wrażeń.</p>
        <p>Menu u góry po prawej.</p>
    </main>
    <footer></footer>

    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="header.js"></script>
</body>

</html>