<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>O projekcie</title>
</head>
<body>
    <header id="header"></header>
    <main>
        <h3>Funkcje strony:</h3>
        <ul>
            <li>Nowy cytat na górze przy każdym wczytaniu strony!!!</li>
            <li>Sprawdzanie pogody w dowolonym mieście na świecie! (sic!)</li>
            <li>Przesyłanie wiadomości na serwer poprzez formularz!!</li>
            <li>Możliwość docenienia pracy autora!!!</li>
        </ul>

        <p>Wykonano w ramach zaliczenia na przepięknym uniwersytecie WSB Merito</p>
        <p>Autor: Jakub Choroszucha</p>
        <br><br><br><br>
        <p>Jeśli to czytasz jesteś super</p>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="header.js"></script>
</body>
</html>