<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apka pogodowa</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <main>
        <!-- panel pobierania informacji -->
        
        <div class="top">
            <input type="text" placeholder="wpisz nazwę miasta">
            <button>Sprawdź pogodę!</button>
            <p class="error"></p>
        </div>

        <!-- panel wyświetlania -->
        <div class="bottom">
            <p class="date"></p>
            <h2 class="cityName"></h2>
            <div class="weatherBox">
                <img src="" alt="">
                <div class="temperatureBox">
                    <p class="temperature"></p>
                    <p class="temperatureDescription"></p>
                </div>
            </div>
            <p>Temperatura odczuwalna: <span class="feelsTemp"></span></p>
            <p>Prędkość wiatru: <span class="windSpeed"></span></p>
            <p>Wilgotność: <span class="humidity"></span></p>
            <p>Ciśnienie: <span class="pressure"></span></p>
            <p>Zachmurzenie: <span class="cloud"></span></p>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="./weather.js"></script>
</body>
</html>