<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Pogoda!</title>
</head>
<body>
    <div id="header"></div>
    <main>
        <div class="input">
            <input type="text" placeholder="Wprowadź nazwę miasta">
            <button>Sprawdź pogodę!</button>
        </div>
        <div class="output">
            <h2 class="city"></h2>
            <h3 class="temperature"></h3>
            <p class="description"></p>
            <p>Temperatura odczuwalna: <span class="feltTemperature"></span></p>
            <p>Prędkość wiatru: <span class="wind"></span></p>
            <p>Wilgotność powietrza: <span class="humidity"></span></p>
            <p>Ciśnienie atmosferyczne: <span class="pressure"></span></p>
            <p>Zachmurzenie: <span class="cloudiness"></span></p>
        </div>
    </main>
    <footer></footer>

    <script>
        var xhr = new XMLHttpRequest();
        xhr.open('GET', 'header.html');
        xhr.onload = function () {
            document.getElementById('header').innerHTML = xhr.response;
        };
        xhr.send();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="./weather.js"></script>
</body>
</html>