body {
margin: 0;
}

body > * {
    padding: 0 30px;
}

div#header {
    padding: 0;
}

header {
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: url("clouds.png");
    background-size: cover;
    /* background-position: 0 50%; */
}

header > nav > ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    gap: 16px;
}